$nav-items: 112px;
$orange: rgb(242, 169, 0);

/* Header */
html {
    overflow-x: hidden;
}

header {
    height: 125px;
    width: 105%;
    margin-top: -12px;
    margin-left: -10px;
    background-color: $orange;
}

navbar {
    width: 240px;
    display: flex;
    justify-content: space-between;
    transform: translate(1200px, -124px);
}

.nav-sized {
    height: $nav-items;
    width: $nav-items;
}

#logo {
    height: inherit;
    width: auto;
}

#circle {
    border-style: solid;
    border-radius: 50%;
    border-width: 3px;
    border-color: red;
    overflow: hidden;
}

#pfp {
    height: inherit;
    width: inherit;
}

/* Main */
main {
    width: 75%;
    margin: auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    margin-left: -125px;
    width: 21vw;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 12%;
    background-color: aliceblue;
}

#c4 {
    z-index: -1;
}

#c5 {
    z-index: -2;
}

#c6 {
    z-index: -3;
}

h2 {
    text-align: right;
    text-decoration: underline dotted;
}

h3 {
    font-size: 24px;
}

.img-size {
    transform: scale(0.95);
    width: 18vw;
    max-width: 21vw;
}

#list-background {
    margin: 0px;
    margin-top: -25px;
    background-color: #a2d9ff;
}

/* Footer */
footer {
    position: fixed;
    right: 15px;
    bottom: 0px;
}