$nav-items: 112px;
$orange: rgb(242, 169, 0);

html {
    overflow-x: hidden;
}

header {
    height: 125px;
    width: 105%;
    margin-top: -12px;
    margin-left: -10px;
    background-color: $orange;
}

navbar {
    width: 240px;
    display: flex;
    justify-content: space-between;
    transform: translate(1200px, -124px);
}

.nav-sized {
    height: $nav-items;
    width: $nav-items;
}

#logo {
    height: inherit;
    width: auto;
}

#circle { 
    border-style: solid;
    border-radius: 50%;
    border-width: 3px;
    border-color: red;
    overflow: hidden;
}

#pfp {
    height: inherit;
    width: inherit;
}